@use '../../styles/variables' as v;

$breakpoints: (
  mobile: '(max-width: 424px)',
  tablet: '(min-width:425px) and (max-width: 1023px)',
  desktop: '(min-width: 1024px)',
  tablet_mini: '(min-width:425px)',
);

@mixin media($device) {
  @media only screen and #{map-get($breakpoints, $device)} {
    @content;
  }
}

.profilePage_container_presentation {
  margin: auto;
  padding-bottom: 2rem;
  width: 100%;

  .profilePage_container_title {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
    text-align: center;
  }
}

.profilePage_container_member {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .profilePage_container_member_title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
  }

  .profilePage_container_member_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .profilePage_container_member_card {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      margin: 1rem;
      padding: 1rem;
      max-width: 30rem;

      .profilePage_container_memberCard_image {
        border-radius: 50%;
        height: 100px;
        margin: auto;
        width: 100px;
      }

      .profilePage_container_member_card_name {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 1rem auto;
        text-align: center;
      }

      .profilePage_container_member_card_birthday,
      .profilePage_container_member_card_score {
        font-size: 1rem;
        margin: 1rem 0;
        font-weight: 200;
        text-align: justify;
      }

      .profilePage_container_member_card_task-to-do {
        font-size: 1rem;
        margin: 1rem 0;
        font-weight: 500;
        text-decoration: underline;
        text-align: center;
      }

      .profilePage_container_member_card_task_name {
        font-size: 1rem;
        margin: 1rem 0;
        font-weight: 200;
        text-align: justify;
      }

      .profilePage_container_member_card_icones {
        display: flex;
        justify-content: space-between;
        position: relative;

        .profilePage_container_member_card_iconEdit {
          top: 12px;
          right: 12px;
          font-size: 1.2rem;
          color: v.$textColor-colorOrange;
          cursor: pointer;
          transition: color 0.2s;

          &:hover {
            color: black;
          }
        }

        .profilePage_container_member_card_iconDelete {
          top: 12px;
          left: 12px;
          font-size: 1.2rem;
          color: v.$textColor-colorOrange;
          cursor: pointer;
          transition: color 0.2s;

          &:hover {
            color: red;
          }
        }
      
      }

      .profilePage_container_member_card_iconAddProfile {
        font-size: 1.2rem;
        color: v.$textColor-colorOrange;
        cursor: pointer;
        transition: color 0.2s;
        width: 50%;
        height: 35%;
        margin: 0 auto;


        &:hover {
          color: v.$textColor-colorBlue;
        }
      }

    }
  }
}

.profile_background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: RGBA(0, 0, 0, 0.5);
  z-index: 1;

  .delete_modal {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    z-index: 1;
    width: 90%;
    background-color: #ececec;
    @include media(tablet_mini) {
      max-width: 400px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include media(tablet_mini) {
        gap: 2rem;
      }

      .delete_modal_title {
        font-size: 2rem;
        font-weight: 500;
        margin: 1rem 0;
        text-align: center;
      }

      .delete_modal_subtitle {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1rem 0;
        text-align: center;
      }

      .delete_modal_profile_containerButton {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
      }

      button {
        border-radius: 5px;
        padding: 0.5rem;
        width: 80%;
        border: none;
        cursor: pointer;
        background-color: v.$textColor-colorBlue;
        color: white;
        font-weight: 500;
      }

      .errorMessage {
        color: red;
        font-size: 0.9rem;
      }
    }
  }
}

