$breakpoints: (
  mobile: '(max-width: 424px)',
  tablet: '(min-width:425px) and (max-width: 1023px)',
  desktop: '(min-width: 1024px)',
);

@mixin media($device) {
  @media only screen and #{map-get($breakpoints, $device)} {
    @content;
  }
}

.landingPage {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &_img {
    width: 20%;
    height: 20%;
    margin: 1rem auto;
    @include media(desktop) {
      width: 30%;
      height: 30%;
      margin: 0;
    }
  }

  &_listeFonctionnalite {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @include media(desktop) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &_listeItem {
    width: 40%;

    &-btn {
      width: 100%;
    }
    @include media(desktop) {
      padding: auto;
      margin: 0.5rem;
    }
  }

  &_divDescription {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_description {
    width: 50%;
    padding: 1rem;
  }

  &_actionBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
