@use '../../styles/variables' as v;

$breakpoints: (
  mobile: '(max-width: 424px)',
  tablet: '(min-width:425px) and (max-width: 1023px)',
  desktop: '(min-width: 1024px)',
);

@mixin media($device) {
  @media only screen and #{map-get($breakpoints, $device)} {
    @content;
  }
}

.side {
  z-index: 1;
  background-color: v.$btnBg-landing;
  width: 70px;
  transition: all 0.4s ease-in-out;
  padding-top: 4rem;
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.5),
    7px 7px 20px 1px rgba(0, 0, 0, 0.1), 4px 4px 5px 1px rgba(0, 0, 0, 0.1);

  &-open {
    padding-top: 4rem;
    z-index: 1;
    background-color: v.$btnBg-landing;
    width: 180px;
    transition: all 0.4s ease-in-out;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  }

  &_menubtn_icon {
    transform: rotate(180deg);
    position: relative;
    top: 37vh;
    left: 3rem;
    font-size: 30px;
    color: v.$btnBg-landing;
    background-color: v.$bgColor-White;
    border: 3px solid v.$btnBg-landing;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
  }

  &_menubtn_icon:hover {
    border: 3px solid v.$btnBg-landing;
    background-color: v.$bgColor-dark;
    color: v.$textColor-colorWhite;
  }

  &_menubtn_icon-open {
    transition: all 0.4s ease-in-out;
    transform: rotatex(180deg);
    position: relative;
    top: 37vh;
    left: 10.1rem;
    font-size: 30px;
    color: v.$btnBg-landing;
    background-color: v.$bgColor-White;
    border: 3px solid v.$btnBg-landing;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  &_menubtn_icon-open:hover {
    border: 3px solid v.$btnBg-landing;
    background-color: v.$bgColor-dark;
    color: v.$textColor-colorWhite;
  }

  &_boxItem {
    width: 100vw;
    padding: 0 0.5rem;
  }

  &_linkName {
    display: inline;
  }

  &_item {
    position: relative;
    bottom: 2rem;
    left: 3.5rem;
    width: 100%;
    transition: all 0.6s step-end;
    background-color: transparent;
    font-weight: bold;
    margin: 0.5rem 0.2rem;
    transition: all 1s ease;
    border-radius: 10%;
    text-decoration: none;
    text-align: start;
    color: v.$textColor-colorWhite;
    transition: all 0.4s ease-in-out;
  }

  &_item-open {
    position: relative;
    bottom: 2rem;
    left: 3.5rem;
    width: 100%;
    transition: all 0.6s step-end;
    background-color: transparent;
    font-weight: bold;
    margin: 0.5rem 0.2rem;
    transition: all 1s ease;
    border-radius: 10%;
    text-decoration: none;
    text-align: start;
    color: v.$textColor-colorWhite;
    transition: all 0.4s ease-in-out;
  }

  &_icon {
    display: block;
    position: relative;
    left: 0.5rem;
    font-size: 3rem;
    color: v.$textColor-colorWhite;
  }
  &_icon-open {
    font-size: 3rem;
    color: v.$textColor-colorWhite;
  }
}
