@use '../../styles/variables' as v;

$breakpoints: (
  mobile: '(max-width: 424px)',
  tablet: '(min-width:425px) and (max-width: 1023px)',
  desktop: '(min-width: 1024px)',
);

@mixin media($device) {
  @media only screen and #{map-get($breakpoints, $device)} {
    @content;
  }
}

.Footer {
  height: 13vw;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.5rem;
  margin-top: 5rem;
  background-color: v.$textColor-colorWhite;
  display: flex;
  z-index: 20;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 6px 0px rgb(9, 7, 7);

  @include media(desktop) {
    height: 5vh;
  }
  @include media(tablet) {
    height: 5vh;
  }

  &_listItems {
    text-decoration: none;
    color: v.$textColor-colorDark;
  }
}

.Footer-dark {
  height: 13vw;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.5rem;
  margin-top: 5rem;
  background-color: v.$textColor-colorDark;
  display: flex;
  z-index: 20;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  box-shadow: v.$shadowColorWhite;

  @include media(desktop) {
    height: 5vh;
  }
  @include media(tablet) {
    height: 5vh;
  }

  &_listItems {
    text-decoration: none;
    color: v.$textColor-colorWhite;
  }
}